header {
    background-color: #1f388a;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(218, 228, 238);
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
}

header img {
    height: 10vh;
}

header ol {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header ol li {
    padding: 10px 20px;
    transition-duration: 1s;
}

header ol li:hover {
    background-color: rgb(22, 38, 94);
    border-radius: 10px;
    color: rgb(128, 133, 138);
	box-shadow: 2px 2px 10px rgb(22, 38, 94);
	text-shadow: 1px 1px 10px rgb(128, 133, 138);
}

a {
    text-decoration: none;
    color: rgb(218, 228, 238);
    margin: 10px;
}

.login a {
    padding: 10px 20px;
    transition-duration: 1s;
}

header .login:hover a {
    background-color: rgb(22, 38, 94);
    border-radius: 10px;
    color: rgb(128, 133, 138);
	box-shadow: 2px 2px 10px rgb(22, 38, 94);
	text-shadow: 1px 1px 10px rgb(128, 133, 138);
}

#menu {
    position: flex;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    width: 10vh;
}

.menu-bar {
    background-color: rgb(218, 228, 238);
    height: 4px;
    width: 30px;
    border-radius: 5px;
    margin: 2px 0px;
}

.menu-bar-1-change { 
    transform: translateY(8px) rotate(45deg); 
    transition-duration: 200ms;
}
.menu-bar-2-change { 
    visibility: hidden; 
}
.menu-bar-3-change { 
    transform: translateY(-8px) rotate(-45deg); 
    transition-duration: 200ms;
}

.hide {
    display: none !important;
}
.show-flex {
    display: flex !important;
}

.active {
    background-color: rgb(22, 38, 94);
    border-radius: 10px;
    color: rgb(128, 133, 138);
	box-shadow: 2px 2px 10px rgb(22, 38, 94);
	text-shadow: 1px 1px 10px rgb(128, 133, 138);
}

@media (max-width: 1350px) {
    header ol {
        font-size: 20px;
        padding: 0;
    }

    header ol li {
        padding: 10px 10px;
    }
}

@media (max-width: 1050px) {
    header ol {
        font-size: 16px;
    }
}

@media (max-width: 980px) {
    header {
        justify-content: space-evenly;
    }
    
    header ol {
        padding: 0;
        flex-direction: column;
        display: none;
        font-size: 24px;
        align-items: center;
        position: absolute;
        top: 15vh;
        left: 0;
        background-color: rgb(31, 56, 138);
        width: 100%;
        margin: 0;
        border-top: 1px solid rgb(218, 228, 238);
        z-index: 3;
    }

    header ol li {
        width: 100%;
        padding: 10px 10px;
        text-align: center;
    }

    a {
        margin: 0
    }
    #menu {
        display: flex;
    }

    .login {
        width: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 400px) {
    header ol {
        font-size: 18px;
    }

    header ol li {
        padding: 2px 2px;
    }

    #menu {
        margin: 0;
    }
}