@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html, body {
    margin: 0;
}

section {
    background-image: url('../img/lspd.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    height: 65vh;
    padding: 7.5vh 7.5vw;
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(218, 228, 238);
}

section::before {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80vh;
    position: absolute;
    z-index: 1;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 15vh;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    height: 90%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    font-size: 36px;
    text-align: center;
}

span {
    font-size: 48px;
}

@media (max-width: 1350px) {
    section {
        background-image: url('../img/bg2.png');
    }
    
    .box {
        font-size: 30px;
    }
    
    span {
        font-size: 42px;
    }
}

@media (max-width: 980px) {
    section {
        background-image: url('../img/bg3.png');
    }
    
    .box {
        font-size: 24px;
        width: 100%;
    }
    
    span {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    section {
        background-image: url('../img/bg4.png');
    }
}