@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html, body {
    margin: 0;
}

section {
    /* background-image: url('../img/bg.jpg'); */
    background-size: cover;
    background-color: rgb(20, 3, 80);
    /* height: 65vh; */
    padding: 4vh 0;
    font-family: 'Kanit', sans-serif;
    color: rgb(218, 228, 238);
    display: flex;
    flex-direction: column;
}

.rang {
    width: 100%;
    background-color: rgb(31, 56, 138);
    margin: auto;
    text-align: center;
    font-size: 36px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    margin: 30px 0;
}

/* .column {
    display: flex;
    flex-direction: column;
} */

/* .grid {
    display: grid;
    grid-template-columns: auto auto auto auto; 
    margin: 30px;
    gap: 11%
} */

.officer {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(31, 56, 138);
    padding-bottom: 10px;
}

.officer img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
}

.chief {
    position: relative;
    bottom: 50px;
}

.pm {
    margin-bottom: 50px;
}